<div class="box">
  <div class="container h-100" style="position: relative; padding-top: 146px;">

    <div class="row d-flex justify-content-center"style="width:100%; position: absolute; top:50%;transform:translate(0%, -50%);-webkit-transform:translate(0%, -50%);z-index:1;">
      
      <div class="col-12 col-sm-6 col-lg-5 col-xl-8" style="margin-bottom: 40px;" >
        <p class="text-center" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 12px; font-size: 40px; font-weight: 600;">비밀번호 변경하기</p>
      </div>
      <div class="w-100"></div>
      <div class="col-12 col-sm-6 col-lg-5 col-xl-4" >

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%#= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%#= f.label :password, "New password" %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control my-3", style: 'max-width:350px; margin: auto; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ', placeholder: "비밀번호 (최소 #{@minimum_password_length} 자리 이상 설정해 주세요)" %>
          </div>

          <div class="field">
            <%#= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control my-3", style: 'max-width:350px; margin: auto; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";', placeholder: "비밀번호 확인" %>
          </div>

          <div class="actions">
            <%= f.submit "비밀번호 변경하기", class: "btn-block btn btn-outline-dark mt-3" %>
          </div>
        <% end %>

        <div class="text-center mt-2">
          <%= link_to "로그인", new_session_path(resource_name), style: "font-size:14px; text-decoration: underline;"  %> / <%= link_to "회원가입", new_registration_path(resource_name), style: "font-size:14px; text-decoration: underline;" %>
        </div>
        <%#= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>