<div class="main_container">
  <div class="container" style="font-size:12px;">
    <div class="row justify-content-center" style="text-align: left; margin-bottom:20px; margin-top: 30px;"> 
      <div class="col-12 col-sm-10 col-lg-8" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 12px; font-size: 20px; font-weight: bold;">
        <p>환전 승인</p>
      </div>
    </div>

    <div class="row justify-content-center" style="text-align: center; margin-bottom:20px; margin-top: 30px;">    
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="row">
          <div class="col-12 text-right mb-4">
            <a href="/managers/exchanges?type=all" class="btn <%= (params[:type] == "all")? "btn-secondary" : "btn-outline-secondary" %> btn-sm"style="font-size: 10px;">모두보기</a>
            <a href="/managers/exchanges?type=환전신청" class="btn <%= (params[:type] == "환전신청" || !params[:type].present?)? "btn-secondary" : "btn-outline-secondary" %> btn-sm"style="font-size: 10px;">환전신청</a>
            <a href="/managers/exchanges?type=환전반려" class="btn <%= (params[:type] == "환전반려")? "btn-secondary" : "btn-outline-secondary" %> btn-sm"style="font-size: 10px;">환전반려</a>
            <a href="/managers/exchanges?type=환전완료" class="btn <%= (params[:type] == "환전완료")? "btn-secondary" : "btn-outline-secondary" %> btn-sm"style="font-size: 10px;">환전완료</a>
          </div>
          
        </div>
      </div>
    </div>


    <div class="row justify-content-center" style="text-align: center; margin-bottom:20px; margin-top: 30px;">    
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="row">
          <div class="col table_title">증빙 자료</div>    
          <div class="col-2 table_title">이메일</div>
          <div class="col table_title">환전 신청 포인트</div>    
          <div class="col table_title">환전 금액</div>    
          <div class="col-2 table_title">예금주 / 은행<br>계좌번호</div>  
          <div class="col table_title">상태</div>
        </div>
      </div>
    </div>
        
    <div class="row justify-content-center" style="text-align: center; margin-bottom:20px;">    
      <% @exchanges.each do |e| %>
        <div class="col-12 col-sm-10 col-lg-8" style="margin-bottom:30px;">
          <div class="row bg-white" style="padding: 20px; overflow-x: auto; overflow-y: hidden; white-space: nowrap; box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); ">
            <div class="col img-gallery table_content d-flex">
              <% e.exchange_imp_imgs.each do |imp| %>
                <a href="/imp_images/exchange/<%= imp.name %>" title="">
                  <img src='/imp_images/exchange/<%= imp.name %>' width="55" height="55" >
                </a>
              <% end %>
            </div>
            <div class="col-2 table_content d-flex"> 
              <%= e.user.email %>
            </div>
            <div class="col table_content d-flex">
              <%= e.pt %>
            </div>
            <div class="col table_content d-flex"> 
              <%= e.actual_money %>
            </div>
            <div class="col-2 table_content d-flex">
              <%= e.account_holder  %> /<%= e.bank  %><br><%= e.account_number  %>
            </div>
            <div class="col table_content d-flex">
              <%= e.status %>
            </div>

            <% if e.exchange_confirms.present? %>
              <div class="col-12 p-0 text-center" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                <div id="exchange_confirm_box_<%=e.id%>" class="review_confirm_box box_none row justify-content-center mx-0">
                  <div class="col-12 text-left p-0" style="margin-bottom: 10px; margin-top: 7px;">
                    (환전 신청 내역)
                  </div>
                  <div class="col-12" style="height: 100px; overflow-y: auto;">
                    <% e.exchange_confirms.each do |confirm|%>
                      <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-top: 8px; padding-bottom: 5px;">
                        <p class="text-left" style="position:relative; font-size:14px; font-weight:bold; color: <%=review_status_color(confirm.status)%>">
                          <%= confirm.status %>
                          <span style="position: absolute; top:0; right:0; font-size:10px; color: rgba(0, 0, 0, 0.5);"><%= confirm.created_at.strftime("%Y.%m.%d %H:%M") %></span>
                        </p>
                        <% if confirm.status == "환전반려" %>
                          <p class="text-left p-2"><%= confirm.memo %></p>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="down_arrow" data-value="exchange_confirm_box_<%=e.id%>">
                  <i class="material-icons mt-2">keyboard_arrow_down</i>
                </div>
              </div>
            <% end %>


            <% if e.status == "환전신청" %>
              <div class="col-12 table_content d-flex" style="justify-content: flex-end !important;padding-top:9px">
                <div class="">
                  <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ModalCenter_<%=e.id%>">
                    환전반려
                  </button>
                  <a href="/exchange_confirm/<%=e.id%>" class="btn btn-success btn-sm" data-method="post" data-confirm="환전완료 하시겠습니까?" data-title="환전완료" data-commit="완료" data-cancel="취소">
                    환전완료
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
         <% if e.status == "환전신청" %>
          <!-- Modal -->
          <div class="modal fade" id="ModalCenter_<%=e.id%>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle_<%=e.id%>" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <%= form_tag("/exchange_reject/#{e.id}", class:"modal-content", style:"", multipart: true ) do %>

                <div class="modal-header">
                  <h5 class="modal-title text-left" id="ModalCenterTitle_<%=e.id%>">
                    리뷰 반려 메세지
                    <p style="font-weight:400; font-size:12px;"><%= e.account_holder  %> /<%= e.bank  %> / <%= e.account_number  %></p>
                    <p style="font-weight:400; font-size:12px;"><%= e.pt %> / <%= e.actual_money %> 원 (수수료: <%=@fees%>)</p>
                  </h5>
                  
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <textarea class="d_textarea" name="memo" placeholder="반려 사유를 작성해주세요" style="border: 1px solid rgba(0, 0, 0, 0.1);" required></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                  <input type="submit" class="btn btn-danger" value="반려하기"/>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>


  </div>
</div>


<%= content_for 'javascript_content' do %>
<script>
$(document).ready(function(){
  $('.img-gallery').magnificPopup({
    delegate: 'a',
    type: 'image',
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
      titleSrc: function(item) {
        return item.el.attr('title');
        // + '<small>by Marsel Van Oosten</small>';
      }
    }
  });

    $('.down_arrow').on("click",function(e){
      var $confirm_box = $("#" + this.getAttribute('data-value'));
      var $icon = $(this).children(".material-icons");
      if ($confirm_box.hasClass('box_none')) {  
        $confirm_box.removeClass('box_none');
        $icon.text('keyboard_arrow_up');
      } else {
        $confirm_box.addClass('box_none');
        $icon.text('keyboard_arrow_down');
      }
    });
  });
</script>
<% end %>
