<!DOCTYPE html>
<html lang="ko">

<head>
  <title><%= full_title(yield :title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="다른 사람에겐 도움이 되고, 나에겐 수익이 되는 차세대 부동산 서비스">
  <link rel="canonical" href="http://ohmybang.com">
  <meta property="al:web:url" content="http://ohmybang.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="OH, MY BANG(오마방)" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://ohmybang.com" />
  <meta property="og:image" content="<%= asset_path 'link.png' %>" />
  <meta property="og:description" content="다른 사람에겐 도움이 되고, 나에겐 수익이 되는 차세대 부동산 서비스" />
  <%# https://favicomatic.com/done %>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= asset_path "favicon/apple-touch-icon-57x57.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="<%= asset_path "favicon/apple-touch-icon-114x114.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path "favicon/apple-touch-icon-72x72.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="<%= asset_path "favicon/apple-touch-icon-144x144.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= asset_path "favicon/apple-touch-icon-60x60.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
    href="<%= asset_path "favicon/apple-touch-icon-120x120.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_path "favicon/apple-touch-icon-76x76.png"%>" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="<%= asset_path "favicon/apple-touch-icon-152x152.png"%>" />
  <link rel="icon" type="image/png" href="<%= asset_path "favicon/favicon-196x196.png" %>" sizes="196x196" />
  <link rel="icon" type="image/png" href="<%= asset_path "favicon/favicon-96x96.png" %>" sizes="96x96" />
  <link rel="icon" type="image/png" href="<%= asset_path "favicon/favicon-32x32.png" %>" sizes="32x32" />
  <link rel="icon" type="image/png" href="<%= asset_path "favicon/favicon-16x16.png" %>" sizes="16x16" />
  <link rel="icon" type="image/png" href="<%= asset_path "favicon/favicon-128.png" %>" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="<%= asset_path "favicon/mstile-144x144.png"%>" />
  <meta name="msapplication-square70x70logo" content="<%= asset_path "favicon/mstile-70x70.png"%>" />
  <meta name="msapplication-square150x150logo" content="<%= asset_path "favicon/mstile-150x150.png"%>" />
  <meta name="msapplication-wide310x150logo" content="<%= asset_path "favicon/mstile-310x150.png"%>" />
  <meta name="msapplication-square310x310logo" content="<%= asset_path "favicon/mstile-310x310.png"%>" />

  <%= stylesheet_link_tag "errors" %>

</head>

<body>
  <div class="error_container">
    <div class="error">
      <h1>404</h1>
      <h2>error</h2>
      <p>
        <b>
          죄송합니다. 페이지를 불러 올 수 없습니다.<br>
          잠시 후 다시 시도해 주세요.
        </b>
      </p>
      <p>
        홈페이지의 메인 화면으로 이동하시겠습니까?
      </p>
      <a class="btn btn-green radius" href="/">HOME</a>
    </div>
    <div class="stack-container">
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 125px; --scaledist: .75; --vertdist: -25px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 100px; --scaledist: .8; --vertdist: -20px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist:75px; --scaledist: .85; --vertdist: -15px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 50px; --scaledist: .9; --vertdist: -10px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 25px; --scaledist: .95; --vertdist: -5px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="perspec" style="--spreaddist: 0px; --scaledist: 1; --vertdist: 0px;">
          <div class="card">
            <div class="writing">
              <div class="topbar">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
              </div>
              <div class="code">
                <ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div>
    <%= render 'shared/footer' %>
  </div>
  <%= javascript_include_tag "errors" %>

</body>

</html>